body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr{
    border-color: white;
    opacity: 0;
    animation: fadeInAnimation ease 1s 1 forwards;
}

.list{
    position: relative;
    top: 0%;
    height: 10em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    margin: 0px;
    padding: 0px;
}

.list .bio{
    padding: 2em;
    display: block;
    float: left;
}

.list .bio h2{
    padding: 0.5em;
    border-style:solid;
    border-color: white;
    color: white;
}

.list .links ul{
    list-style-type: none;
    color: blue;
    float: right;
    padding: 2em;
}

.list .links ul li{
    padding: 0.5em;
    font-size: 1.5em;
    float: right;
}

.list .links ul li a{
    text-shadow: 0px 0px 0px black;
    transition: text-shadow ease 0.5s; 
}

.list .links ul li a:hover{
    text-shadow: 10px 10px 5px black;
}

a{
    text-decoration: none;
    color: white;
}

.int_body {
    padding-top: 2em;
}

.int_body .img{
    padding: 2em;
    float: left;
}

.int_body img{
    /* padding: 2em; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
    transition: box-shadow ease 0.5s;
    animation: fadeInAnimation ease 1s 1 forwards;
}

.int_body img:hover{
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.548);
}

.int_txt{
    padding: 2em;
    text-align: center;
    color: white;
}

.intro{
    font-size: 3.5em;
    opacity: 0;
    animation: fadeInAnimation ease 1s 1 forwards;
    animation-delay: 0.6s;
}

.info{
    font-size: 2em;
    opacity: 0;
    animation: fadeInAnimation ease 1s 1 forwards;
    animation-delay: 1.2s;
    font-family: 'Courier New', Courier, monospace;
}

.footer{
    position: absolute;
    bottom: 0%;
    width: 99%;
    background-color: rgba(0, 0, 0, 0.562);
    margin-bottom:0.5em;
}

.knowmore{
    text-align: center;
    color: white;
    margin: 0px;
}

.knowmore span{
    padding: 2em;
}

/* Second Page */

.acads h2{
    font-size: 3em;
    animation: fadeInAnimation ease 1s 1 forwards
}

.acads table{
    width: 100%;
    padding: 2em;
    border: none;
    opacity: 0;
    animation: fadeInAnimation ease 1s 1 forwards
}

.acads table tr{
    border: none;
}

.acads table th{
    text-align: left;
    font-size: 2em;
    padding: 1.3em;
}

.acads table td{
    padding: 1.3em;
    font-family: 'Courier New', Courier, monospace;
}

.awards h2{
    font-size: 3em;
    animation: fadeInAnimation ease 1s 1 forwards
}

.awards li{
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    padding: 1.3em;
    animation: fadeInAnimation ease 1s 1 forwards;
}


/* Third Page */

.interest_body{
    padding: 2em;
    background-color:rgba(0, 0, 0, 0.3) ;
    margin:1em;
}

.interests{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}

.interests li{
    opacity: 0;
    animation: fadeInAnimation ease 1s 1 forwards;
}

.interest_body h1{
    opacity: 0;
    animation: fadeInAnimation ease 1s 1 forwards
}

/* Fourth Page Exclusive */

.text{
    font-size: 1.5em;
}

.bg-img img{
    position: relative;
}

.con{
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
}

.clinks{
    width: 100%;
    /* border: solid black; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
}

.clinks h4{
    font-size: 1.7em;
}

.clinks td{
    text-align: center;
    /* padding: 0px; */
    animation: fadeInAnimation ease 1s 1 forwards;
}

table{
    border-collapse: collapse;
}

table, tr{
    border: 1px solid rgba(150, 150, 150, 0.678);
}

/* Animations */
@-webkit-keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
        transform: translate(-20px, 0px); 
    } 
    100% { 
        opacity: 1; 
        transform: translate(0px, 0px);
    } 
} 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
        transform: translate(-20px, 0px);
    } 
    100% { 
        opacity: 1; 
        transform: translate(0px, 0px);
    } 
} 

